<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # 👇 ESTA ES LA LÍNEA MÁGICA QUE SOLUCIONA TU ERROR 401
    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

    # Redireccionar todas las peticiones al front controller (index.php)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>