{% extends 'base.html.twig' %}

{% block body %}

	<nav>
		<ul>
			<li><a href="{{ path('sym_index') }}">Inicio</a></li>
			<li><a href="{{ path('sym_index1') }}">Index1</a></li>
			<li><a href="{{ path('sym_index2') }}">Esta página</a></li>
			<li><a href="{{ path('sym_index3') }}">Index2</a></li>
		</ul>
	</nav>

{% endblock %}
