{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	- Error 500
{% endblock %}
{% block principal %}
	<br><br>
	<h1>Estamos teniendo problemas con la conexión del servidor</h1>
{% endblock %}
